[Unit]
Description=Haven P2P Daemon
After=network.target

[Service]
User=haven
Group=haven
StateDirectory=haven
LogsDirectory=haven
Type=simple
ExecStart=/usr/bin/havend --config-file /etc/haven/havend.conf --non-interactive
Restart=on-failure
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
